body {
  font-family: sans-serif;
  font-size: 14px;
}
iframe {
  height: 56.25vw;
  width: 100%;
}
@media screen and (min-width: 800px) {
  iframe {
    height: 29vw;
    width: 100%;
  }
  .atom-pre-video {
    height: 29vw!important;
    width: 60%;
    margin: auto;
  }
}
.atom-logo {
  display: block;
  width: 20%;
  max-width: 30%;
  margin: 0 auto;
}
.atom-titulo-curso {
  font-family: 'Permanent Marker', cursive;
  font-size: 5rem;
  margin: 0;
}
.atom-titulo-modulo {
  color: #1437DE;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin: 0;
}
.atom-titulo-aula {
  color: #1437DE;
  font-family: 'Arial', sans-serif;
  font-size: 1.8rem;
}
.atom-video {
  padding-bottom: 2rem;
  padding-top: 25px;
  height: auto;
}
.atom-pre-video {
  background: #F0BC00;
  height: 56.25vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.atom-pre-video span {
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  border-radius: 0;
  opacity: .5;
  content: '';
  cursor:pointer;
  border-left: 40px solid #FFF;
  margin-left: 10px;
  transition: all .2s;
}
.atom-pre-video span:hover {
  opacity: 1;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.atom-slides {
  color: #666;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: underline;
}
.atom-apostila {
  color: #666;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: underline;
}
.atom-apoio-texto,
.atom-apoio-valor {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}
.atom-apoio-valor-texto {
  font-size: 1.6rem;
}

.molecule-aula,
.molecule-curso {
  border-bottom: 1px solid #ccc;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
}

.organism-cursos {
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

.organism-cursos .atom-titulo-curso {
  color: #FFCA00;
}
.organism-cursos .atom-titulo-modulo,
.organism-cursos .atom-titulo-aula {
  color: #000;
}
.organism-cursos .atom-slides,
.organism-cursos .atom-apostila {
  color: #FFCA00;
  display: inline-block;
  width: 25%;
  margin: 0 auto;
  text-align: center;
}

#molecule-curso-php .atom-titulo-curso {
  font-family: 'Alfa Slab One', cursive;
  color: #FF4800;
}
