.atom-logo {
  width: 20%;
  max-width: 30%;
  margin: 0 auto;
}
.atom-titulo-curso {
  
}
.atom-titulo-modulo {
  
}
.atom-titulo-aula {
  
}
.atom-video {
  
}
.atom-slides {
  
}
.atom-apostila {
  
}